.button
  display: flex
  justify-content: center
  align-items: center
  color: #ffffff
  background-color: #d0000b
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  border: none
  border-radius: 25px
  font-weight: 500
  cursor: pointer
  box-shadow: 2px 2px 2px rgba(0,0,0,0.6)
  text-decoration: none
  font-size: 1.3rem

  &:disabled
    opacity: 0.5
    cursor: not-allowed

.button--small
  width: 16rem
  height: 1.2rem
  padding: .875rem

.button--medium
  padding: .875rem
  width: 24rem
  height: 1.2rem

.button--large
  padding: .875rem
  height: 1.2rem
  width: 36rem

.button--primary
  background-color: #d0000b
  color: white

  &:hover:not(:disabled)
    background-color: #cf4a3d

.button--secondary
  background-color: #cf4a3d
  color: white

  &:hover:not(:disabled)
    background-color: #0D47A1

.button--outline
  background-color: transparent
  border: 2px solid currentColor
  color: #607d8b

  &:hover:not(:disabled)
    background-color: #607d8b
    color: white
