.card
    width: 100%
    max-width: 350px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #fff
    gap: 2rem
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)
    border-radius: 1rem
    padding: 2rem
    border: 4px solid transparent
    transition: border-color 0.2s ease
    
    &__wrapper
        display: flex
        flex-direction: column
        background-color: #fff
        gap: 1.2rem

    &__figure-red
        background-color: #D0000B
        width: 2.5rem
        height: 2.5rem
        border-radius: 8px
        display: flex
        justify-content: center
        align-items: center

    &__figure-light-red
        background-color: #FE6D5C
        width: 2.5rem
        height: 2.5rem
        border-radius: 8px
        display: flex
        justify-content: center
        align-items: center

    &__figure-blue
        background-color: #CEEDFD
        width: 2.5rem
        height: 2.5rem
        border-radius: 8px
        display: flex
        justify-content: center
        align-items: center

    &__title
        font-family: 'Urbanist', sans-serif
        font-size: 2rem
        font-weight: 700
        color: #001F2A
    
    &__price
        font-family: 'Helvetica Neue', sans-serif
        font-size: 1.9rem
        font-weight: 700
        color: #A20006

    &__text
        font-family: 'Helvetica Neue', sans-serif
        font-size: 1rem
        font-weight: 400
        color: #5E3F3B
        width: 100%
        max-width: 320px

    &__ul
        list-style: none
        display: flex
        flex-direction: column
        gap: 0.75rem

    &__li
        display: flex
        gap: 0.75rem
        font-family: 'Helvetica Neue', sans-serif
        font-size: 0.75rem
        font-weight: 400
        color: #001F2A

.card:hover
    border: 4px solid #EECED0

    