.footer
  background-color: #F8FAFC
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  max-width: 100%

  &__wrapper
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    padding: 2rem

  &__section-left
    display: flex
    flex-direction: column
    gap: 1rem

  &__section-left-title
    font-family: 'Urbanist', sans-serif
    font-size: 1.125rem
    font-weight: 700
    color: #0f172a

  &__section-left-subtitle
    font-family: 'Helvetica Neue', sans-serif
    font-size: 1rem
    color: #64748b
    width: 80%

  &__nav
    display: flex
    flex-direction: column
    gap: 1rem

  &__nav-title
    font-family: 'Urbanist', sans-serif
    font-size: 1.125rem
    font-weight: 700
    color: #0f172a

  &__nav-link
    font-family: 'Helvetica Neue', sans-serif
    text-decoration: none
    color:#64748b
    font-size: 1rem

  &__section-right
    display: flex
    flex-direction: column
    gap: 1rem

  &__section-right-title
    font-family: 'Urbanist', sans-serif
    font-size: 1.125rem
    font-weight: 700
    color: #0f172a

  &__section-right-subtitle
    font-family: 'Helvetica Neue', sans-serif
    font-size: 1rem
    color: #64748b

  &__line
    width: 100%
    border: 1px solid #E2E8F0
    margin-top: 1rem

  &__copyright
    padding: 2rem
    font-family: 'Helvetica Neue', sans-serif
    font-size: 1rem
    color: #94a3b8
